html        { background-image: url('wallpaper.jpg'); background-attachment: fixed; }
body        { color: #ffffff; background-color: #181818; font-family: 'Droid Sans Mono'; opacity: 0.9; margin: 0; }
pre         { color: #434343; font-family: 'Droid Sans Mono'; font-size: 15px;}
pre a       { color: #cccccc; }
h1,h2,h3,h4 { text-align: center; font-weight: normal}
h1          { margin: 0 0 0 0; padding: 20px 0 0 0;}
h2          { font-size: 40px; margin: 20px 0 0 0;}
h3          { margin: 0 0 0 0;}
h4, h4 a    { color: #434343; font-size: 15px; margin: 0 0 15px 0;}
.center     { width: 500px; margin: 0px auto; }
.avatar     { border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; }
.title      { color: #6fa8dc; }
.key        { color: #b4a7d6; }
.value      { color: #cccccc; }
.tags       { color: #CDA869; }
#pl         { display: none; }
