<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>About Me</h2>
      <div class="wow pulse">
        <p>Hi, my name is Michał Kalbarczyk and I'm software engineer</p>
        <p>I love ruby form first sight. It was long, long time ago, in 2005.</p>
        <p>Have extensive experience in designing, programming, maintenance and optimization of dynamic asynchronous backend systems.</p>
        <p>Interested with many modern technologies like Ruby, RubyOn Rails, Elixir, Sinatra, JavaScript, CoffeeSctipt, JSON, AMQP, SQL, NoSQL. And also with no web related like MRuby, RubyMotion, Elixir, Go, iOS and many many more.</p>
        <p>Except for programming I playing mainly guitar, but also use other instruments. Making noise that is called music. Spending time on composing, arranging, mixing music.</p>
      </div>
    </div>
  </div>
</section>
