<li>
  <h3>About Me</h3>
  <p>Hello, my name is Michał Kalbarczyk. I'm the multi-skilled software engineer.</p>
  <p>My programming adventure starts when I was a kid. I had an Atari computer. When a cassette player broke down, I can't load any games, so the only way to play with the computer was writing Basic programs.</p>
  <p>With 12 years of overall commercial programming experience, I gained extensive and practical knowledge of designing, programming, maintaining and optimising sophisticated services.</p>
  <p>Interested in many modern technologies like Elixir, Ruby, RubyOn Rails, Sinatra, JavaScript, React, JSON, AMQP, SQL, NoSQL.</p>
  <p>Also not web related technologies like MRuby, RubyMotion, iOS and more.</p>
  <p>Except for programming I playing mainly guitar, but also use other instruments. I really like to make noise that is called music and spend time on composing, arranging, mixing.</p>
  <hr class="post-list__divider">
</li>
