<li>
  <h3>About Me</h3>
  <p>Hello, my name is Michał Kalbarczyk. I'm the multi-skilled software engineer.</p>
  <p>With 12 years of overall commercial programming experience, I gained extensive and practical knowledge of designing, programming, maintaining and optimizing complex services.</p>
  <p>Interested in many modern technologies like Elixir, Ruby, RubyOn Rails, Sinatra, JavaScript, React, JSON, AMQP, SQL, NoSQL.</p>
  <p>Also not web related technologies like MRuby, RubyMotion, iOS and more.</p>
  <p>Except for programming I playing mainly guitar, but also use other instruments. I really like to make noise that is called music and spend time on composing, arranging, mixing.</p>
  <hr class="post-list__divider">
</li>
