<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <img class="img-circle navbar-brand" src="http://www.gravatar.com/avatar/b5b8eec3fd886a7d72b3ac29368f5073.jpg?size=50"/>
      <a class="navbar-brand page-scroll" href="/blog">
        fazibear blog
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li itemscope itemtype="http://schema.org/SiteNavigationElement">
          <a class="page-scroll" href="/#about" itemprop="url"><span itemprop="name">About</span></a>
        </li>
        <li itemscope itemtype="http://schema.org/SiteNavigationElement">
          <a class="page-scroll" href="/#skills" itemprop="url"><span itemprop="name">Skills</span></a>
        </li>
        <li itemscope itemtype="http://schema.org/SiteNavigationElement">
          <a class="page-scroll" href="/#projects" itemprop="url"><span itemprop="name">Projects</span></a>
        </li>
        <li itemscope itemtype="http://schema.org/SiteNavigationElement">
          <a class="page-scroll" href="/#music" itemprop="url"><span itemprop="name">Music</span></a>
        </li>
        <li itemscope itemtype="http://schema.org/SiteNavigationElement">
          <a class="page-scroll" href="/#links" itemprop="url"><span itemprop="name">Links</span></a>
        </li>
        <li itemscope itemtype="http://schema.org/SiteNavigationElement">
          <a class="page-scroll" href="/blog" itemprop="url"><span itemprop="name">Blog</span></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
