<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">
            <img class="img-circle" src="http://www.gravatar.com/avatar/b5b8eec3fd886a7d72b3ac29368f5073.jpg?size=200"/>
          </h1>
          <h2>{{ site.author }}</h2>
          <p class="intro-text">{{ site.title }}</p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
