<!-- Projects Section -->
<section id="projects" class="container content-section text-center">
  <h2>Projects</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 wow fadeInLeft">
      <a href="https://github.com/inesita-rb/inesita"><h3>Inesita</h3></a>
      <p>
      <a href="https://github.com/inesita-rb/inesita"><img src="https://img.shields.io/github/stars/inesita-rb/inesita.svg"/></a>
      <a href="https://rubygems.org/gems/inesita"><img src="https://img.shields.io/gem/dt/inesita.svg"/></a>
      <a href="http://badge.fury.io/rb/inesita"><img src="https://badge.fury.io/rb/inesita.svg"/></a>
      <a href="https://travis-ci.org/inesita-rb/inesita"><img src="https://travis-ci.org/inesita-rb/inesita.svg?branch=master"/></a>
      <a href="https://codeclimate.com/github/inesita-rb/inesita"><img src="https://codeclimate.com/github/inesita-rb/inesita/badges/gpa.svg"/></a>
      <a href="https://github.com/inesita-rb"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p><a href="http://inesita-rb.github.io/">Inesita</a> is a simple, light, Ruby front-end framework.</p>
    </div>
    <div class="col-md-4 wow fadeInRight">
      <a href="https://github.com/fazibear/colorize"><h3>Colorize</h3></a>
      <p>
      <a href="https://github.com/fazibear/colorize"><img src="https://img.shields.io/github/stars/fazibear/colorize.svg"/></a>
      <a href="https://rubygems.org/gems/colorize"><img src="https://img.shields.io/gem/dt/colorize.svg"/></a>
      <a href="http://badge.fury.io/rb/colorize"><img src="https://badge.fury.io/rb/colorize.svg"/></a>
      <a href="https://travis-ci.org/fazibear/colorize"><img src="https://travis-ci.org/fazibear/colorize.svg?branch=master"/></a>
      <a href="https://codeclimate.com/github/fazibear/colorize"><img src="https://codeclimate.com/github/fazibear/colorize/badges/gpa.svg"/></a>
      <a href="https://codeclimate.com/github/fazibear/colorize"><img src="https://codeclimate.com/github/fazibear/colorize/badges/coverage.svg"/></a>
      <a href="https://github.com/fazibear/colorize"><img src="https://img.shields.io/badge/license-GPLv2-blue.svg"/></a>
      </p>
      <p>Ruby String class extension. Adds methods to set text color, background color and, text effects on ruby console and command line output, using ANSI escape sequences.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 wow fadeInLeft">
      <a href="https://github.com/fazibear/opal-virtual-dom"><h3>opal-virtual-dom</h3></a>
      <p>
      <a href="https://github.com/fazibear/opal-virtual-dom"><img src="https://img.shields.io/github/stars/fazibear/opal-virtual-dom.svg"/></a>
      <a href="https://rubygems.org/gems/opal-virtual-dom"><img src="https://img.shields.io/gem/dt/opal-virtual-dom.svg"/></a>
      <a href="http://badge.fury.io/rb/opal-virtual-dom"><img src="https://badge.fury.io/rb/opal-virtual-dom.svg"/></a>
      <a href="https://codeclimate.com/github/fazibear/opal-virtual-dom"><img src="https://codeclimate.com/github/fazibear/opal-virtual-dom/badges/gpa.svg"/></a>
      <a href="https://github.com/fazibear/opal-virtual-dom"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>virtual-dom wrapper for opal</p>
    </div>
    <div class="col-md-4 wow fadeInRight">
      <a href="https://github.com/fazibear/airbrakex"><h3>airbrakex</h3></a>
      <p>
      <a href="https://github.com/fazibear/airbrakex"><img src="https://img.shields.io/github/stars/fazibear/airbrakex.svg"/></a>
      <a href="https://hex.pm/packages/airbrakex"><img src="https://img.shields.io/hexpm/dt/airbrakex.svg"/></a>
      <a href="http://badge.fury.io/rb/opal-virtual-dom"><img src="https://img.shields.io/hexpm/v/airbrakex.svg"/></a>
      <a href="https://github.com/fazibear/airbrakex"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>Elixir client for the Airbrake service.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 wow fadeInLeft">
      <a href="https://github.com/fazibear/gruby"><h3>gruby</h3></a>
      <p>
      <a href="https://github.com/fazibear/gruby"><img src="https://img.shields.io/github/stars/fazibear/gruby.svg"/></a>
      <a href="https://rubygems.org/gems/gruby"><img src="https://img.shields.io/gem/dt/gruby.svg"/></a>
      <a href="http://badge.fury.io/rb/gruby"><img src="https://badge.fury.io/rb/gruby.svg"/></a>
      <a href="https://github.com/fazibear/gruby"><img src="https://img.shields.io/badge/license-GPLv2-blue.svg"/></a>
      </p>
      <p>Gadu-Gadu (polish communicator) protocol implementation in Ruby language.</p>
    </div>
    <div class="col-md-4 wow fadeInRight">
      <a href="https://github.com/fazibear/frubby"><h3>frubby</h3></a>
      <p>
      <a href="https://github.com/fazibear/frubby"><img src="https://img.shields.io/github/stars/fazibear/frubby.svg"/></a>
      <a href="https://rubygems.org/gems/frubby"><img src="https://img.shields.io/gem/dt/frubby.svg"/></a>
      <a href="http://badge.fury.io/rb/frubby"><img src="https://badge.fury.io/rb/frubby.svg"/></a>
      <a href="https://travis-ci.org/fazibear/frubby"><img src="https://travis-ci.org/fazibear/frubby.svg?branch=master"/></a>
      <a href="https://codeclimate.com/github/fazibear/frubby"><img src="https://codeclimate.com/github/fazibear/frubby/badges/gpa.svg"/></a>
      </p>
      <p>Bring fuzzy_match directly into ruby. Now typos makes no difference.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 wow fadeInLeft" data-wow-delay="0.05s">
      <a href="https://github.com/fazibear/mrubyvst"><h3>mrubyvst</h3></a>
      <p>
      <a href="https://github.com/fazibear/mrubyvst"><img src="https://img.shields.io/github/stars/fazibear/mrubyvst.svg"/></a>
      </p>
      <p>VST plugin scriptable with MRuby.</p>
    </div>
    <div class="col-md-4 wow fadeInRight" data-wow-delay="0.05s">
      <a href="https://github.com/fazibear/twitdrone"><h3>twitdrone</h3></a>
      <p>
      <a href="https://github.com/fazibear/twitdrone"><img src="https://img.shields.io/github/stars/fazibear/twitdrone.svg"/></a>
      </p>
      <p>Generate music from twitter feed.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 wow fadeInLeft" data-wow-delay="0.10s">
      <a href="https://github.com/fazibear/crystal_lib_gen"><h3>crystal_lib_gen</h3></a>
      <p>
      <a href="https://github.com/fazibear/crystal_lib_gen"><img src="https://img.shields.io/github/stars/fazibear/crystal_lib_gen.svg"/></a>
      </p>
      <p>Automatic binding generator for Crystal Language.</p>
    </div>
    <div class="col-md-4 wow fadeInRight" data-wow-delay="0.10s">
      <a href="https://github.com/fazibear/crystal_fcgi"><h3>crystal_fcgi</h3></a>
      <p>
      <a href="https://github.com/fazibear/crystal_fcgi"><img src="https://img.shields.io/github/stars/fazibear/crystal_fcgi.svg"/></a>
      </p>
      <p>Build fcgi executables with Crystal Language.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 wow fadeInLeft" data-wow-delay="0.15s">
      <a href="https://github.com/fazibear/ascii_chat"><h3>ascii_chat</h3></a>
      <p>
      <a href="https://github.com/fazibear/ascii_chat"><img src="https://img.shields.io/github/stars/fazibear/ascii_chat.svg"/></a>
      </p>
      <p>Simple webapp, takes a webcam picture via webRTC, change it to asciiart and send it via seocket.io. No rooms and nicks, just text and ascii.</p>
    </div>
    <div class="col-md-4 wow fadeInRight" data-wow-delay="0.15s">
      <a href="https://github.com/fazibear/ralovi"><h3>ralovi</h3></a>
      <p>
      <a href="https://github.com/fazibear/ralovi"><img src="https://img.shields.io/github/stars/fazibear/ralovi.svg"/></a>
      </p>
      <p>The Rails Log Viewer. Meteor app for collect and view data from rails log.</p>
    </div>
  </div>
</section>
