<!-- Projects Section -->
<section id="projects" class="container content-section">
  <h2 class="text-center">Projects</h2>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center wow pulse">
      <h3>Sites</h3>
      <p>
        <a href="http://inesita-rb.github.io/"><h4>Inesita</h4></a>
        <a href="https://inesita-asciify-me.netlify.com/"><h4>AsciifyMe</h4></a>
        <a href="http://inesid.surge.sh/"><h4>Inesid</h4></a>
      </p>
    </div>
    <div class="col-md-8 col-md-offset-2 wow pulse">
      <h3 class="text-center">Ruby GEMS</h3>
      <p>
        <a href="http://inesita-rb.github.io/"><h4>Inesita</h4></a>
        <a href="http://badge.fury.io/rb/inesita"><img src="https://badge.fury.io/rb/inesita.svg"/></a>
        <a href="https://github.com/inesita-rb/inesita"><img src="https://img.shields.io/github/stars/inesita-rb/inesita.svg"/></a>
        <a href="https://rubygems.org/gems/inesita"><img src="https://img.shields.io/gem/dt/inesita.svg"/></a>
        <a href="https://travis-ci.org/inesita-rb/inesita"><img src="https://travis-ci.org/inesita-rb/inesita.svg?branch=master"/></a>
        <a href="https://codeclimate.com/github/inesita-rb/inesita"><img src="https://codeclimate.com/github/inesita-rb/inesita/badges/gpa.svg"/></a>
        <a href="https://github.com/inesita-rb"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/colorize"><h4>Colorize</h4></a>
        <a href="http://badge.fury.io/rb/colorize"><img src="https://badge.fury.io/rb/colorize.svg"/></a>
        <a href="https://github.com/fazibear/colorize"><img src="https://img.shields.io/github/stars/fazibear/colorize.svg"/></a>
        <a href="https://rubygems.org/gems/colorize"><img src="https://img.shields.io/gem/dt/colorize.svg"/></a>
        <a href="https://travis-ci.org/fazibear/colorize"><img src="https://travis-ci.org/fazibear/colorize.svg?branch=master"/></a>
        <a href="https://codeclimate.com/github/fazibear/colorize"><img src="https://codeclimate.com/github/fazibear/colorize/badges/gpa.svg"/></a>
        <a href="https://codeclimate.com/github/fazibear/colorize"><img src="https://codeclimate.com/github/fazibear/colorize/badges/coverage.svg"/></a>
        <a href="https://github.com/fazibear/colorize"><img src="https://img.shields.io/badge/license-GPLv2-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/opal-virtual-dom"><h4>opal-virtual-dom</h4></a>
        <a href="http://badge.fury.io/rb/opal-virtual-dom"><img src="https://badge.fury.io/rb/opal-virtual-dom.svg"/></a>
        <a href="https://github.com/fazibear/opal-virtual-dom"><img src="https://img.shields.io/github/stars/fazibear/opal-virtual-dom.svg"/></a>
        <a href="https://rubygems.org/gems/opal-virtual-dom"><img src="https://img.shields.io/gem/dt/opal-virtual-dom.svg"/></a>
        <a href="https://codeclimate.com/github/fazibear/opal-virtual-dom"><img src="https://codeclimate.com/github/fazibear/opal-virtual-dom/badges/gpa.svg"/></a>
        <a href="https://github.com/fazibear/opal-virtual-dom"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/opal-phoenix"><h4>opal-phoenix</h4></a>
        <a href="http://badge.fury.io/rb/opal-phoenix"><img src="https://badge.fury.io/rb/opal-phoenix.svg"/></a>
        <a href="https://github.com/fazibear/opal-phoenix"><img src="https://img.shields.io/github/stars/fazibear/opal-phoenix.svg"/></a>
        <a href="https://rubygems.org/gems/opal-phoenix"><img src="https://img.shields.io/gem/dt/opal-phoenix.svg"/></a>
        <a href="https://codeclimate.com/github/fazibear/opal-phoenix"><img src="https://codeclimate.com/github/fazibear/opal-phoenix/badges/gpa.svg"/></a>
        <a href="https://github.com/fazibear/opal-phoenix"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/opal-airbrake"><h4>opal-airbrake</h4></a>
        <a href="http://badge.fury.io/rb/opal-airbrake"><img src="https://badge.fury.io/rb/opal-airbrake.svg"/></a>
        <a href="https://github.com/fazibear/opal-airbrake"><img src="https://img.shields.io/github/stars/fazibear/opal-airbrake.svg"/></a>
        <a href="https://rubygems.org/gems/opal-airbrake"><img src="https://img.shields.io/gem/dt/opal-airbrake.svg"/></a>
        <a href="https://codeclimate.com/github/fazibear/opal-airbrake"><img src="https://codeclimate.com/github/fazibear/opal-airbrake/badges/gpa.svg"/></a>
        <a href="https://github.com/fazibear/opal-airbrake"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/opal-sid"><h4>opal-sid</h4></a>
        <a href="http://badge.fury.io/rb/opal-sid"><img src="https://badge.fury.io/rb/opal-sid.svg"/></a>
        <a href="https://github.com/fazibear/opal-sid"><img src="https://img.shields.io/github/stars/fazibear/opal-sid.svg"/></a>
        <a href="https://rubygems.org/gems/opal-sid"><img src="https://img.shields.io/gem/dt/opal-sid.svg"/></a>
        <a href="https://codeclimate.com/github/fazibear/opal-sid"><img src="https://codeclimate.com/github/fazibear/opal-sid/badges/gpa.svg"/></a>
        <a href="https://github.com/fazibear/opal-sid"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/oxmlrpc"><h4>oxmlrpc</h4></a>
        <a href="http://badge.fury.io/rb/oxmlrpc"><img src="https://badge.fury.io/rb/oxmlrpc.svg"/></a>
        <a href="https://github.com/fazibear/oxmlrpc"><img src="https://img.shields.io/github/stars/fazibear/oxmlrpc.svg"/></a>
        <a href="https://rubygems.org/gems/oxmlrpc"><img src="https://img.shields.io/gem/dt/oxmlrpc.svg"/></a>
        <a href="https://github.com/fazibear/oxmlrpc"><img src="https://img.shields.io/badge/license-GPLv2-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/gruby"><h4>gruby</h4></a>
        <a href="http://badge.fury.io/rb/gruby"><img src="https://badge.fury.io/rb/gruby.svg"/></a>
        <a href="https://github.com/fazibear/gruby"><img src="https://img.shields.io/github/stars/fazibear/gruby.svg"/></a>
        <a href="https://rubygems.org/gems/gruby"><img src="https://img.shields.io/gem/dt/gruby.svg"/></a>
        <a href="https://github.com/fazibear/gruby"><img src="https://img.shields.io/badge/license-GPLv2-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/frubby"><h4>frubby</h4></a>
        <a href="http://badge.fury.io/rb/frubby"><img src="https://badge.fury.io/rb/frubby.svg"/></a>
        <a href="https://github.com/fazibear/frubby"><img src="https://img.shields.io/github/stars/fazibear/frubby.svg"/></a>
        <a href="https://rubygems.org/gems/frubby"><img src="https://img.shields.io/gem/dt/frubby.svg"/></a>
        <a href="https://travis-ci.org/fazibear/frubby"><img src="https://travis-ci.org/fazibear/frubby.svg?branch=master"/></a>
        <a href="https://codeclimate.com/github/fazibear/frubby"><img src="https://codeclimate.com/github/fazibear/frubby/badges/gpa.svg"/></a>
      </p>
    </div>
    <div class="col-md-8 col-md-offset-2 wow pulse">
      <h3 class="text-center">Hex Packages</h3>
      <p>
        <a href="https://github.com/fazibear/airbrakex"><h4>airbrakex</h4></a>
        <a href="https://hex.pm/packages/airbrakex"><img src="https://img.shields.io/hexpm/dt/airbrakex.svg"/></a>
        <a href="https://github.com/fazibear/airbrakex"><img src="https://img.shields.io/github/stars/fazibear/airbrakex.svg"/></a>
        <a href="http://badge.fury.io/rb/opal-virtual-dom"><img src="https://img.shields.io/hexpm/v/airbrakex.svg"/></a>
        <a href="https://github.com/fazibear/airbrakex"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/export"><h4>export</h4></a>
        <a href="https://hex.pm/packages/export"><img src="https://img.shields.io/hexpm/dt/export.svg"/></a>
        <a href="https://github.com/fazibear/export"><img src="https://img.shields.io/github/stars/fazibear/export.svg"/></a>
        <a href="http://badge.fury.io/rb/opal-virtual-dom"><img src="https://img.shields.io/hexpm/v/export.svg"/></a>
        <a href="https://github.com/fazibear/export"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
      <p>
        <a href="https://github.com/fazibear/ex_ical"><h4>ex_ical</h4></a>
        <a href="https://hex.pm/packages/ex_ical"><img src="https://img.shields.io/hexpm/dt/ex_ical.svg"/></a>
        <a href="https://github.com/fazibear/ex_ical"><img src="https://img.shields.io/github/stars/fazibear/ex_ical.svg"/></a>
        <a href="http://badge.fury.io/rb/opal-virtual-dom"><img src="https://img.shields.io/hexpm/v/ex_ical.svg"/></a>
        <a href="https://github.com/fazibear/ex_ical"><img src="https://img.shields.io/badge/license-MIT-blue.svg"/></a>
      </p>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center wow pulse">
      <h3>Other</h3>
      <p>
        <a href="https://github.com/fazibear/mrubyvst"><h4>mrubyvst</h4></a>
        <a href="https://github.com/fazibear/twitdrone"><h4>twitdrone</h4></a>
        <a href="https://github.com/fazibear/crystal_lib_gen"><h4>crystal_lib_gen</h4></a>
        <a href="https://github.com/fazibear/crystal_fcgi"><h4>crystal_fcgi</h4></a>
        <a href="https://github.com/fazibear/ascii_chat"><h4>ascii_chat</h4></a>
        <a href="https://github.com/fazibear/ralovi"><h4>ralovi</h4></a>
      </p>
    </div>
  </div>
</section>
